#headerwrap {
    background-image: url(../images/backgroundImage.jpg); 
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    width: 100%;
    height: 100vh;
}

#text {
    z-index: 100;
    position: relative;
    color: white;
    font-weight: bold;
    top: 350px;
    text-align: center;
}

#myImage {
    width: 225px;
    height: 225px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: auto;
}

#desc {
    text-align: center;
    color: white;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

footer {
    background-color: black;
    color: white;
}